<div class="accordion-item col-12">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{child.medcard_num}}" aria-expanded="true" aria-controls="collapse{{child.medcard_num}}">
        {{ child.surname }} {{ child.name }} {{ child.patronymic }} {{ child.birthday }}
      </button>
    </h2>
    <div id="collapse{{child.medcard_num}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionGroup{{ count.n }}">
      <div class="accordion-body">
        {% if child.father.surname %}
			<strong>Отец: </strong> {{ child.father.surname }} {{ child.father.name }} {{ child.father.patronymic }}, <strong> тел.: </strong>{{ child.father.phone_num }} <br/>
		{% endif %}
        {% if child.mother.surname %}
			<strong>Мать: </strong> {{ child.mother.surname }} {{ child.mother.name }} {{ child.mother.patronymic }}, <strong> тел.: </strong>{{ child.mother.phone_num }}<br/>
		{% endif %}
        <a href="/medical_record/child/{{child.medcard_num}}/" class="btn btn-outline-primary mt-2">Перейти к медкарте</a>
      </div>
    </div>
</div>