{% extends 'base.html' %}

{% block title %}
    <title>Справочник наименований прививок</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <h1 class="text-center">Справочник наименований прививок</h1>
            </div>
            <div class="col-3 d-flex justify-content-end align-items-center">
                <button data-bs-toggle="modal" data-bs-target="#vacNameModal" class="btn btn-outline-success mx-2" onclick="addVacName()">Добавить</button>
                <a href="/medical_record/all" class="btn btn-outline-primary">Все медкарты</a>
            </div>
        </div>

        {% if msg %}
            <div class="alert alert-success" role="alert">
                {{ msg }}
            </div>
        {% endif %}
        {% if err %}
            <div class="alert alert-danger" role="alert">
                {{ err }}
            </div>
        {% endif %}

        <div class="row mt-2 mb-2">
            <div class="col-6 pl-2">
                <h2>Профилактические</h2>
                {% set vac_type = 'Профилактическая' %}
                {% for id, name in vac_names.prof.items() %}
                    {% include '/catalogs/vac_names/divs/vac_name.html' %}
                {% endfor %}
            </div>
            <div class="col-6">
                <h2>По показаниям</h2>
                {% set vac_type = 'По показаниям' %} 
                {% for id, name in vac_names.epid.items() %}
                    {% include '/catalogs/vac_names/divs/vac_name.html' %}
                {% endfor %}
            </div>
        </div>

        

    </div>

    <!-- Vac name modal -->
    <div class="modal fade" id="vacNameModal" tabindex="-1" aria-labelledby="vacNameModalLabel" aria-hidden="true" style="overflow-y: auto;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="vacNameModalLabel">Наименование прививки</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="vacNameForm" novalidate>
                        <input type="hidden" id="vacNameId">
                        <div class="form-group">
                            <label for="vacNameInput">Наименование прививки</label>
                            <input type="text" class="form-control" id="vacNameInput" required>
                        </div>
                        <div class="form-group">
                            <label for="vacType">Тип прививки</label>
                            <select class="form-select" id="vacType" required>
                                <option value="Профилактическая">Профилактическая</option>
                                <option value="По показаниям">По показаниям</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeModal">Отмена</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="commitModal">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" style="overflow-y: auto;">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Удалить сведения о поликлинике</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input type="hidden" id="deleteVacNameId">
            <p id="deleteModalText"></p>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="deleteModalClose">Отмена</button>
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal" id="deleteModalCommit">Да, удалить</button>
            </div>
        </div>
        </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', path='js/catalogs/vac_name.js') }}"></script>
{% endblock %}
